attrs==23.1.0
black==23.7.0
click==8.1.6
exceptiongroup==1.1.2
iniconfig==2.0.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
pyparsing==3.1.1
pytest==7.4.0
python-magic==0.4.27
tomli==2.0.1
